# Changelog

All notable changes to this project will be documented in this file.

## [{{ cpy_project_version }}] - {{ current_year() }}-01-01

### Added
- Initial release of {{ cpy_project_name }} library
- Cross-platform support for Android, iOS, macOS, tvOS, watchOS, OpenHarmony, Windows, Linux
- Native C++ library with platform-specific bindings
