//
// {{cpy_project_name|pascal_case}}.java
// wrapper
//
// Created by ccgo on {{ '%Y-%m-%d' | strftime }}.
// Copyright {{ '%Y' | strftime }} ccgo Project Authors. All rights reserve.

package {{ cpy_project_group_id }}.{{cpy_project_name|lower|macro_safe}}.wrapper;

import {{ cpy_project_group_id }}.{{cpy_project_name|lower|macro_safe}}.jni.{{cpy_project_name|pascal_case}}Jni;

/*!
 * \if ZH-CN
 * \file {{cpy_project_name|pascal_case}}.java
 * \brief {{ cpy_project_name|lower }}通用库java接口文件
 * \else
 * \file {{cpy_project_name|pascal_case}}.java
 * \brief {{ cpy_project_name|lower }} common library java api file
 * \endif
 */

/*! \addtogroup Android
 * \if ZH-CN
 * {{cpy_project_name|pascal_case}}-Android平台
 * \else
 * {{cpy_project_name|pascal_case}} for Android Platform
 * \endif
 *  @{
 */

/**
 * \if ZH-CN
 * \brief 通用库java接口类
 *
 * @author ccgo
 * \else
 * \brief {{ cpy_project_name|lower }} common java api class.
 *
 * @author ccgo
 * \endif
 */
public class {{cpy_project_name|pascal_case}} {
    // -----------------------------------------------------------------------------
    //!  \name {{cpy_project_name|lower}}-base
    //!  @{
    // -----------------------------------------------------------------------------
    static {
        System.loadLibrary("c++_shared");
    }

    /**
     * \if ZH-CN
     * \brief 设置debug log
     *
     * @param isDebugLog 是否打印日志
     * \else
     * \brief set debug log.
     *
     * @param isDebugLog the debug log
     * \endif
     */
    public static void setDebugLog(boolean isDebugLog) {
        {{cpy_project_name|pascal_case}}Jni.setDebugLog(isDebugLog);
    }

    // -----------------------------------------------------------------------------
    // endregion
    //!  @}  // end name {{cpy_project_name|lower}}-base
    // -----------------------------------------------------------------------------
}

/*! @} */
// end group Android
