//
//  {{ cpy_project_name|capitalize|replace('comm', 'Comm') }}.h
//  api/apple
//
//  Created by ccgo on {{ '%Y-%m-%d' | strftime }}.
//  Copyright {{ '%Y' | strftime }} ccgo Project Authors. All rights reserved.

#ifndef {{ cpy_project_name|upper }}_APPLE_H
#define {{ cpy_project_name|upper }}_APPLE_H

#ifdef __cplusplus
extern "C" {
#endif

#include <stdbool.h>

//! \if ZH-CN
//! \file {{ cpy_project_name|capitalize|replace('comm', 'Comm') }}.h
//! \brief {{ cpy_project_name|lower }} C接口文件（用于Kotlin/Native cinterop）
//!
//! \author ccgo
//! \else
//! \file {{ cpy_project_name|capitalize|replace('comm', 'Comm') }}.h
//! \brief {{ cpy_project_name|lower }} C API file (for Kotlin/Native cinterop)
//!
//! \author ccgo
//! \endif

//! \addtogroup iOS
//! \if ZH-CN
//! {{ cpy_project_name|capitalize|replace('comm', 'Comm') }}-iOS/macOS平台
//! \else
//! {{ cpy_project_name|capitalize|replace('comm', 'Comm') }} for iOS/macOS Platform
//! \endif
//! @{

//-----------------------------------------------------------------------------
//! \if ZH-CN
//!  \name {{ cpy_project_name|lower }}-基础
//! \else
//!  \name {{ cpy_project_name|lower }}-base
//! \endif
//!  @{
//-----------------------------------------------------------------------------

//! \if ZH-CN
//! \brief 设置调试日志
//!
//! \param enable 是否启用调试日志（1=启用，0=禁用）
//! \else
//!  \brief Set debug log.
//!
//!  \param enable Enable debug log (1=enable, 0=disable)
//! \endif
void {{ cpy_project_name|lower }}_set_debug_log(bool enable);

//! \if ZH-CN
//! \brief 获取版本号
//!
//! \return 版本号字符串
//! \else
//!  \brief Get version.
//!
//!  \return Version string
//! \endif
const char* {{ cpy_project_name|lower }}_get_version(void);

//-----------------------------------------------------------------------------
//!  @}  // end name {{ cpy_project_name|lower }}-base
//-----------------------------------------------------------------------------

#ifdef __cplusplus
}
#endif

#endif // {{ cpy_project_name|upper }}_APPLE_H

//!  @}  // end group iOS
