//
// {{cpy_project_name|lower}}_jni.cpp
// api/android
//
// Created by ccgo on {{ '%Y-%m-%d' | strftime }}.
// Copyright {{ '%Y' | strftime }} ccgo Project Authors. All rights reserved.

#ifdef __ANDROID__

#  include "{{cpy_project_name|lower}}/api/android/{{cpy_project_name|lower}}_jni.h"
#  include "{{cpy_project_name|lower}}/api/native/{{cpy_project_name|lower}}.h"

#  include <cstdint>
#  include <memory>

// Only define JNI_OnLoad when building as standalone library
// When used as a CCGO dependency, the main library will define JNI_OnLoad
// CCGO_AS_DEPENDENCY is automatically set by CCGO build system
#ifndef CCGO_AS_DEPENDENCY
JNIEXPORT jint JNICALL JNI_OnLoad(JavaVM *vm, void *reserved) {
  (void)reserved;

  return JNI_VERSION_1_6;
}
#endif  // CCGO_AS_DEPENDENCY

JNIEXPORT void JNICALL {{ cpy_project_name|upper|macro_safe }}_JNI_API_DEF(setDebugLog)(JNIEnv *env, jclass cls, jboolean is_debug_log) {
  (void)env;
  (void)cls;
  {{cpy_project_name|lower|macro_safe}}_SetDebugLog(is_debug_log);
}

#endif  // __ANDROID__
