//
// {{ cpy_project_name|lower }}_napi_config.h
// api/ohos
//
// Created by ccgo on {{ '%Y-%m-%d' | strftime }}.
// Copyright {{ '%Y' | strftime }} ccgo Project Authors. All rights reserved.

#ifndef {{ cpy_project_name|upper|macro_safe }}_API_OHOS_{{ cpy_project_name|upper|macro_safe }}_NAPI_CONFIG_H_
#define {{ cpy_project_name|upper|macro_safe }}_API_OHOS_{{ cpy_project_name|upper|macro_safe }}_NAPI_CONFIG_H_

#ifdef __OHOS__

// NAPI模块名称定义
#  ifndef {{ cpy_project_name|upper|macro_safe }}_NAPI_MODULE_NAME
#    define {{ cpy_project_name|upper|macro_safe }}_NAPI_MODULE_NAME "{{ cpy_project_name|pascal_case }}"
#  endif

// NAPI版本定义
#  ifndef {{ cpy_project_name|upper|macro_safe }}_NAPI_VERSION
#    define {{ cpy_project_name|upper|macro_safe }}_NAPI_VERSION 1
#  endif

#endif  // __OHOS__

#endif  // {{ cpy_project_name|upper|macro_safe }}_API_OHOS_{{ cpy_project_name|upper|macro_safe }}_NAPI_CONFIG_H_
