//
// {{cpy_project_name|lower}}.h
// api/native
//
// Created by ccgo on {{ '%Y-%m-%d' | strftime }}.
// Copyright {{ '%Y' | strftime }} ccgo Project Authors. All rights reserved.

#ifndef {{ cpy_project_name|upper|macro_safe }}_API_NATIVE_{{ cpy_project_name|upper|macro_safe }}_H_
#define {{ cpy_project_name|upper|macro_safe }}_API_NATIVE_{{ cpy_project_name|upper|macro_safe }}_H_

#include <stdint.h>

#ifdef __cplusplus
extern "C" {
#endif

#ifndef CCGO_PUBLIC
// this is for non-project use, no need to define CCGO_PUBLIC
// or windows will add __imp_ prefix when searching for symbols
#  if defined(CCGO_ENABLE_EXPORTS) && CCGO_ENABLE_EXPORTS == 1
#    if defined _WIN32 || defined __CYGWIN__
#      ifdef BUILDING_DLL
#        ifdef __GNUC__
#          define CCGO_PUBLIC __attribute__((dllexport))
#        else
#          define CCGO_PUBLIC __declspec(dllexport)
#        endif
#      else
#        ifdef __GNUC__
#          define CCGO_PUBLIC __attribute__((dllimport))
#        else
#          define CCGO_PUBLIC __declspec(dllimport)
#        endif
#      endif
#    else
#      if defined(__clang__) || (defined(__GNUC__) && __GNUC__ >= 4)
#        define CCGO_PUBLIC __attribute__((visibility("default")))
#      else
#        define CCGO_PUBLIC
#      endif
#    endif
#  else
#    define CCGO_PUBLIC
#  endif  // defined(CCGO_ENABLE_EXPORTS) && CCGO_ENABLE_EXPORTS == 1
#endif    // #ifndef (CCGO_PUBLIC)

//! \if ZH-CN
//! \brief set debug log.
//!
//! \param is_debug_log 是否启用调试日志
//! \else
//! \brief set debug log.
//!
//! \param is_debug_log  the debug log
//! \endif
void {{ cpy_project_name|lower|macro_safe }}_SetDebugLog(bool is_debug_log);

//! \if ZH-CN
//! \brief 获取版本号
//!
//! \return 返回版本号字符串
//! \else
//! \brief Get version string
//!
//! \return Returns version string
//! \endif
const char* {{ cpy_project_name|lower|macro_safe }}_GetVersion(void);


#ifdef __cplusplus
}
#endif

#endif  // {{ cpy_project_name|upper|macro_safe }}_API_NATIVE_{{ cpy_project_name|upper|macro_safe }}_H_
