{
  "module": {
    "name": "{{ cpy_project_name | lower | macro_safe }}",
    "description": "",
    "type": "har",
    "deviceTypes": [
      "default",
      "tablet",
      "2in1",
      "car"
    ],
  }
}
