//
// global_var.cpp
// base
//
// Created by ccgo on {{ '%Y-%m-%d' | strftime }}.
// Copyright {{ '%Y' | strftime }} ccgo Project Authors. All rights reserved.

#include "{{ cpy_project_name|lower }}/base/global_var.h"

namespace {{ cpy_project_name|lower }} {

GlobalVar &GlobalVar::GetInstance() {
  static GlobalVar instance;
  return instance;
}

void GlobalVar::Clear() {}

}  // namespace {{ cpy_project_name|lower }}
