{
  "app": {
    "bundleName": "{{cpy_project_group_id ~ '.' ~ cpy_project_name | lower | macro_safe ~ '.demo'}}",
    "vendor": "ccgo",
    "versionCode": 10000,
    "versionName": "1.0.0",
    "icon": "$media:app_icon",
    "label": "$string:app_name",
    "debug": false
  }
}
