{
  "name": "{{ cpy_project_name | lower }}",
  "version": "0.0.1",
  "description": "",
  "keywords": ["ccgo"],
  "homepage": "{{cpy_document_url}}",
  "repository": "{{cpy_git_repo_url}}",
  "author": "{{cpy_user_name}}",
  "license": "MIT",
  "dependencies": {},
  "main": "Index.js",
  "types": "Index.d.ets",
  "artifactType": "obfuscation",
  "matadata": {
    "sourceRoots": ["./src/main"],
    "debug": false,
    "nativeDebugSymbol": false
  },
  "compatibleSdkVersion": "12",
  "compatibleSdkType": "HarmonyOS",
  "obfuscated": false
}
